{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center vh-100 align-items-center border flex-column">
    <h1 class="text-center w-100">Registration Form</h1>
    <div style="max-width: 200px; width: 100%;">
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3 text-center">
                <!--добавляем связь между label и полем формы с помощью id_for_label-->
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}

                <!--вывод ошибок поля формы-->
                {% if field.errors %}
                <div class="text-danger small">
                    {% for error in field.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-secondary">Sign Up</button>
            </div>
        </form>
        <div class="text-center mt-3" style="font-size: 12px;">
            <p>Already have an account? <a href="{% url 'users:login' %}">Login here</a></p>
        </div>
    </div>
</div>
{% endblock %}