{% extends 'base.html' %}

{% block content %}

{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}

<div class="container d-flex justify-content-center" style="margin-top: 80px; margin-bottom: 80px;">
    <div class="card p-3 w-100" style="max-width: 1200px;">
        <table class="table" style="table-layout: fixed; width: 100%;">
            <caption>Tasks for {{ day.date|date:"d M Y" }}.
                <a href="{% url 'main:add_task' day_pk %}" class="link-secondary">Click here to add a new task</a>
            </caption>
            <thead>
            <tr>
                <th style="width: 20%;" scope="col">Task</th>
                <th style="width: 40%;" scope="col" class="text-break">Description</th>
                <th style="width: 10%;" scope="col">Priority</th>
                <th style="width: 10%;" scope="col">Status</th>
                <th style="width: 20%;" scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.get_priority_display }}</td>
                <td>
                    {% if task.is_done %}
                    Done ✓
                    {% else %}
                    Not done ×
                    {% endif %}
                </td>
                <td>
                    <div class="d-flex gap-2">
                        <form action="{% url 'main:change_status' task.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-secondary btn-sm">Change Status</button>
                        </form>
                        <form action="{% url 'main:delete' task.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-dark btn-sm">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}