{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center" style="margin-top: 60px; margin-bottom: 60px;">
    <div class="card p-3 w-100" style="max-width: 1200px;">
        <table class="table" style="table-layout: fixed; width: 100%;">
            <caption class="text-center">
                <span>Tasks for {{ day.date }}.</span>
                <a href="{% url 'main:add_task' day.date %}" class="link-secondary">Click here to add a new task</a>
            </caption>
            <thead>
            <tr>
                <th style="width: 5%;" scope="col" class="text-center"></th>
                <th style="width: 20%;" scope="col" class="text-center">Task</th>
                <th style="width: 35%;" scope="col" class="text-wrap text-center">Description</th>
                <th style="width: 20%;" scope="col" class="text-center">Priority</th>
                <th style="width: 20%;" scope="col" class="text-center">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
            <tr>
                <td class="text-center">
                    <form action="{% url 'main:delete' task.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link text-body p-0 text-decoration-none">🗑️</button>
                    </form>
                </td>
                <td class="text-center">{{ task }}</td>
                <td class="text-center">{{ task.description }}</td>
                <td class="text-center">{{ task.get_priority_display }}</td>
                <td class="text-center">
                    {% if task.is_done %}
                    <form action="{% url 'main:change_status' task.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link text-body p-0 text-decoration-none">Done ✓</button>
                    </form>
                    {% else %}
                    <form action="{% url 'main:change_status' task.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link text-body p-0 text-decoration-none">Not done ×
                        </button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}